---
import { Image } from "astro:assets";
const { name, video, image, github = "", page = "" } = Astro.props;
import githubIcon from "../assets/github.svg"
---

<style>
    .container {
        margin-bottom: 50px;
    }

    .titleHeader {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .example {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .example > * {
        width: 100%;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        border: 10px solid var(--accent_color);
        border-radius: 15px;
        object-fit: cover;
        object-position: center center;
    }

    .link {
        color: var(--text_accent_color)
    }

    .container > * {
        margin: 0 0 15px 0;
    }
</style>

<div class="container">
    <div class="titleHeader">
        <h4>{name}</h4>
        {github != "" && 
            <a href={github} target="_blank">
                <Image src={githubIcon} alt="Github logo" loading={"lazy"} height={30} width={30}/>
            </a>
        }
    </div>
    <div>
        <slot />
    </div>
    <div>
        {page != "" && 
        <a href={page} class="link">
            <h5>Click here for more</h5>
        </a>
    }
    </div>
    <div class="example">
        {video != "" ?
            <video src={video} muted autoplay loop poster={image}/>
            :
            <Image src={image} alt="Example images of project" loading={"eager"}/>
        }
    </div>
</div>